# Unity-специфичные исключения
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/ProjectSettings/EditorBuildSettings.asset

# Автогенерируемые файлы
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.apk
*.unitypackage

# Системные файлы
.DS_Store
.idea/
.vscode/
UpgradeLog.htm
